html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: calc(100vh - 60px);
    margin: 0;
}

.full-height {
    height: calc(100vh - 60px);
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.content {
    text-align: center;
}

.m-b-md {
    margin-bottom: 30px;
}

.text-logo-icon {
    color: #F1CC07;
}

.text-logo {
    color: #559F41;
}

.background-logo {
    background-color: #559F41;
}

.background-logo-icon {
    background-color: #F1CC07;
}

.logo-icon {
    width: 4em;
    height: 4em;
}

.btn:focus {
    border-color: #F1CC07;
    box-shadow: 1px 1px 0px #F1CC07;
}

.btn-logo {
    color: #F1CC07;
    background-color: #559F41;
    /* box-shadow: 0px 0px 0px #F1CC07; */
}

.btn-logo:hover, .btn-logo:active {
    transform: translateX(-4px) translateY(-4px);
    transition-delay: 0ms;
    color: #F1CC07;
    border-color: #F1CC07;
    background-color: #559F41;
    box-shadow: 4px 4px 0px #F1CC07;
}

.navbar-logo {
    background-color: #fff;
    color: #559F41;
}

.navbar-logo a {
    color: #F1CC07;
}

.navbar-brand {
    background-color: #559F41;
    color: #F1CC07;
    padding-right: 2em;
    padding-left: 1em;
    border-radius: 4px;
}

.logo-icon-nav {
    width: 4em;
    height: 4em;
    position: relative;
    top: -8px;
}

.logo-icon-jumbo {
    height: 400px;
    width: 400px;
}

.btn-xl {
    width: 400px;
    height: 3em;
    font-size: 2em;
    font-weight: bold;
    padding-top: 0.75em;
}

.custom-navbar {
    margin: 0px;
    padding: 0.3em;
    height: 5em;
    padding-top: 1.25em;
    color: #559F41;
}

.custom-navbar a {
    margin-right: 2em;
    color: #559F41;
    font-size: 1.25em;
    font-weight: bold;
    top: -0.25em;
    position: relative;
}

.nav-divider {
    margin-left: 1em;
    margin-right: 1em;
    font-size: 2.75em;
    top: -0.25em;
    position: relative;
}

.basic-a:hover {
    font-style: none;
    text-decoration: none;
}
